.DS_Store
node_modules
/dist
/dist2

audit-log.txt

.vite-ssg-temp

public/staff-photos/*
!public/staff-photos/.gitkeep

public/event-photos/*
!public/event-photos/.gitkeep

db/*.json

server.config.json
ip.blocklist.json

redirects.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env