


@import "@/scss/fonts.scss";
@import "@/scss/colors.scss";
@import "@/scss/underline.scss";
@import "@/scss/scrollbar.scss";
@import "@/scss/responsive.scss";

$navbar-height: 68px;
$navbar-height-remaining: calc(100vh - 38px);


html {
  height: 100%;
  font-family: Arial;
}

body {
  //background-color: rgb(4, 16, 23);
	overflow-x: hidden;
	margin: 0px;
	color: white;
	font-family: 'Ropa Sans', sans-serif;
	height: 100%;
}


@mixin rounded {
  //@include responsive(border-radius, 10px, 10px, 10px);
  border-radius: 10px; //1vh;
}

@mixin transition($scale: 1.1, $brightness: 120%, $focus: false) {
  @include display-not(mobile) {
    transition: transform 0.25s, filter 0.25s;
    &:not([disabled]):hover {
      transform: scale($scale);
      filter: brightness($brightness);
    }
    @if $focus == true {
      &:not([disabled]):focus {
        transform: scale($scale);
        filter: brightness($brightness);
      }
    }
  }
}

@mixin center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.center {
  @include center;
}

@mixin background($img, $style: 'cover') {
  background: {
    image: $img;
    repeat: no-repeat;
    position: center;
    size: $style;
  }
}


button, input, textarea {
  @include rounded;
  @include white;

  border: none;
  //padding: 1.25vh;
  @include responsive(padding, 8px, 10px, 12px);
  outline: none;
}
button {
  @include transition;
  cursor: pointer;
}
input {
  //@include transition(1.025, 100%, true);
}
input, textarea {
  color: inherit;
}

a.link {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  text-align: center;
}
