


@import "@/scss/fonts.scss";
@import "@/scss/colors.scss";
@import "@/scss/underline.scss";
@import "@/scss/scrollbar.scss";
@import "@/scss/responsive.scss";

$navbar-height: calc(4vh + 30px);
$navbar-height-remaining: calc(100vh - 4vh - 30px);


html {
  height: 100%;
  font-family: Arial;
}

body {
  //background-color: rgb(4, 16, 23);
	overflow-x: hidden;
	margin: 0px;
	color: white;
	font-family: 'Ropa Sans', sans-serif;
	height: 100%;
}


@mixin rounded {
  border-radius: 1vh;
}

@mixin transition {
  transition: transform 0.25s, filter 0.25s;
  &:hover {
    transform: scale(1.1);
    filter: brightness(120%);
  }
}

@mixin center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.center {
  @include center;
}

@mixin background($img, $style: 'cover') {
  background: {
    image: $img;
    repeat: no-repeat;
    position: center;
    size: $style;
  }
}


button, input {
  @include rounded;
  @include transition;
  @include white;

  cursor: pointer;
  border: none;
  padding: 1.25vh;
  outline: none;
}

a.link {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  text-align: center;
}
