

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin responsive($property, $mobile, $tablet, $desktop) {
  @include mobile {
    #{$property}: $mobile;
  }
  @include tablet {
    #{$property}: $mobile;
  }
  @include desktop {
    #{$property}: $desktop;
  }
}

@mixin display-hide($property) {
  @if $property == mobile {
    @include mobile {
      display: none!important;
    }
  } @else if $property == tablet {
    @include tablet {
      display: none!important;
    }
  } @else if $property == desktop {
    @include desktop {
      display: none!important;
    }
  }
}

@mixin display-not($property) {
  @if $property == mobile {
    @include tablet {
      @content;
    }
    @include desktop {
      @content;
    }
  } @else if $property == tablet {
    @include mobile {
      @content;
    }
    @include desktop {
      @content;
    }
  } @else if $property == desktop {
    @include mobile {
      @content;
    }
    @include tablet {
      @content;
    }
  }
}
